/* General Body Styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(3, 4, 14);
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 700px; /* Reduced the max-width for a more compact layout */
  margin-left: auto;
  margin-right: auto;
}

.blue-name {
  color: #00b7ff; 
  font-weight: bold;
}

/* Header Section */
header {
  text-align: center;
  padding: 50px 0 0 0;
}

header img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

header h1 {
  margin-top: 20px;
}

header p {
  font-size: 18px;
  margin-top: 10px;
}

/* Work Experience Section */
.work-experience {
  padding: 10px 20px 10px 20px;
}

.work-experience h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.experience .job {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  justify-content: space-between;
  gap: 10px; /* Add spacing between elements */
}

.company-icon {
  width: 70px;
  height: 70px;
  margin-right: 15px;
  flex-shrink: 0;
  align-self: center;
  border-radius: 10px; /* Adds rounded corners */
}

.job {
  margin-top: 30px;
}

.job-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px; /* Add spacing between rows */
}

.job-details h3 {
  margin: 0;
  font-size: 18px;
}

.company-name,
.timeline {
  font-size: 16px;
  margin: 0;
}

.timeline {
  font-size: 14px;
  color: gray;
}

.work-skill-icon {
  color: #00b7ff; /* Matches the theme color */
  font-size: 38px; /* Adjust the size of the icon */
  margin-left: 10px; /* Space between icon and text */
  text-decoration: none; /* Remove underline */
  align-self: center;
}

.contact-info {
  padding: 20px;
  text-align: center;
}

.contact-info h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 30px; /* Adds spacing between icons */
}

.contact-icon {
  font-size: 50px; /* Increases icon size */
  color: #00b7ff; /* Adjust icon color */
  transition: transform 0.3s ease, color 0.3s ease;
}

.contact-icon:hover {
  transform: scale(1.2); /* Enlarges the icon slightly on hover */
  color: white; /* Changes color on hover */
}

/* Project Section */
.projects {
  padding: 20px;
}

.projects h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.project {
  margin-bottom: 70px;
}

.project-details {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

.project-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.project-title h3 {
  margin: 0;
  font-size: 20px;
}

.project-links {
  display: flex;
  gap: 15px; /* Adds space between icons */
}

.project-link {
  color: #00b7ff; /* Matches the theme color */
  font-size: 30px; /* Adjust the size of the icons */
  transition: color 0.3s ease, transform 0.3s ease;
  text-decoration: none; /* Remove underline */
}

.project-link:hover {
  color: white; /* Change color on hover */
  transform: scale(1.2); /* Enlarge slightly on hover */
}

.project-image {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.project-image:hover {
  transform: scale(1.035); /* Enlarge slightly on hover */
}

.changing-text-container {
  display: inline-flex;
  width: 120px;
  text-align: center;
  align-items: center;
  justify-content: center; 
  overflow: hidden;
}

.changing-text {
  font-weight: bold;
  font-size: 25px;
  color: #00b7ff; ;
  transition: opacity 0.5s ease-in-out;
  white-space: nowrap;
}